/* Write your CSS here */
.container-image-details {
  height: 150px;
  width: 150px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
}
.image-app {
  height: 100px;
  width: 100px;
}
.app-name {
  color: #1e293b;
  font-family: 'bree serif';
  font-size: 12px;
  font-weight: 500;
}
